<nav class="navbar navbar-expand-lg bg-body-tertiary nav-color">
  <button style="border: 1px solid white" class="navbar-toggler ms-2" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 player-container">
        <li class="nav-item song-player">
          <a (click)="playSong()" class="player-icon" title="Tocar"><i class="bi bi-play-circle"></i></a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<app-carousel></app-carousel>
<div class="text-container">
  <div class="heart-gif">
    <img src="heart-gif.gif" height="60" alt="Coração">
  </div>
  <p>Pois é meu amor, enfim esse dia chegou, sei que demorou um pouco mais do que você gostaria
    mas estamos aqui agora, e esse momento é muito importante para nós dois. Primeiro quero agradecer
    por você ser essa pessoa incrível que você sempre é para mim, que cuida de mim, me acolhe, me da amor
    e carinho, que é compreensiva, sempre eforçada em tudo que faz, seja no trabalho, no nosso relacionamento
    ou em qualquer lugar, é um orgulho pra mim ter uma pessoa como você ao meu lado. Você sempre luta por nós,
    sempre da seu máximo para me ver feliz e para conquistar o que você quer e é muito lindo ver quando você
    consegue conquistar seus objetivos; eu amo ver você sorrindo, ver você feliz e poder ficar feliz junto com você,
    eu sou infinitamente feliz ao seu lado e é por isso que estamos aqui nesse momento. Amor, eu quero tornar esses
    momentos
    com você <strong>ETERNOS</strong>. Então por isso, eu te pergunto...
  </p>
  <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#confirmationModal">
    Continuar
  </button>
</div>

<div class="modal fade" id="confirmationModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        Dáphne Trevelin, você quer casar comigo?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#error">Não</button>
        <button type="button" class="btn btn-primary" (click)="sheSaidYes()" data-bs-dismiss="modal">SIMMMMM!!!!!
        </button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="error" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content modal-error">
      <div class="modal-body text-center">
        TENTE NOVAMENTE!!!!!!!!!!!!!
        <button type="button" class="btn btn-danger w-100" data-bs-dismiss="modal" data-bs-toggle="modal"
                data-bs-target="#confirmationModal">OK
        </button>
      </div>
    </div>
  </div>
</div>
<img *ngIf="married" class="she-said-yes" src="fireworks.gif" alt="ELA DISSE SIM!!!"/>
<audio #audioElement loop>
  <source src="song.mp3" type="audio/mpeg">
  Your browser does not support the audio element.
</audio>
<audio #audioElement2 loop>
  <source src="song2.mp3" type="audio/mpeg">
  Your browser does not support the audio element.
</audio>
