.nav-color {
  background-color: #661087 !important;
}

.nav-color div a {
  color: white;
}

.player-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.song-player {
  align-items: center;
  display: flex;
}

.text-container {
  width: 100%;
  text-align: center;
  padding: 30px;
}

.heart-gif {
  width: 100%;
  display: flex;
  justify-content: center;
}

.modal-error {
  background-color: red !important;
}

.she-said-yes {
  position: fixed;
  width: 100%;
  min-height: 100%;
  top: 0;
  left: 0;
  z-index: 9999;
}

.player-icon {
  cursor: pointer;
  font-size: 40px;
  color: white;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

