<nav class="navbar navbar-expand-lg bg-body-tertiary nav-color">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 player-container">
        <li class="nav-item song-player">
          <a (click)="playSong()" class="player-icon" title="Tocar"><i class="bi bi-play-circle"></i></a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner carousel-size">
    <app-img-carousel *ngFor="let file of fileList" [imgSrc]="file" [active]="isActive(file)"></app-img-carousel>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<audio #audioElement loop>
  <source src="song.mp3" type="audio/mpeg">
  Your browser does not support the audio element.
</audio>
